.cs142-topbar-appBar {
  height: 60;
  justify-content: 'center';
}

.title {
  width: 100%;
}

.logoutLink {
  color: yellow;
}

.favoritesLink {
  color: yellow;
}

.addPhotoLink {
  color: yellow;
}
