.user-detail-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}
span {
  font-weight: bold;
}

.user-detail-container .btn {
    margin-top: 15px;
  }
